<div ng-include="'webui/views/common/header.html'"></div>

<div class="container" >
    <div class="generic-container" ng-controller="RoleController as ctrl">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Role Form </span></div>
            <div class="formcontainer">
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</uib-alert>
                    <input type="hidden" ng-model="ctrl.role.id" />
                    <div class="row">
                        <div class="form-group col-md-12" ng-class="{ 'has-error': myForm.name.$dirty && (myForm.name.$error.required || myForm.name.$error.maxlength)}">
                            <label class="col-md-2 control-lable" for="name">Role Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.role.rolename" name="name" ng-maxlength="50" class="form-control input-sm" placeholder="Enter Role Name" required/>
                                <span ng-show="myForm.name.$dirty && myForm.name.$error.required" class="help-block">Role Name is a required field</span>
                                <span ng-show="myForm.name.$dirty && myForm.name.$error.maxlength" class="help-block">Role Name is too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" ng-class="{ 'has-error': myForm.desc.$dirty && (myForm.desc.$error.required || myForm.desc.$error.maxlength)}">
                            <label class="col-md-2 control-lable" for="desc">Role Description</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.role.roledesc" name="desc" ng-maxlength="255" class="form-control input-sm" placeholder="Enter Role Description" required/>
                                <span ng-show="myForm.desc.$dirty && myForm.desc.$error.required" class="help-block">Role Description is a required field</span>
                                <span ng-show="myForm.desc.$dirty && myForm.desc.$error.maxlength" class="help-block">Role Description is too long</span>
                            </div>
                        </div>
                    </div>
                      
                    <div class="row">
                        <div class="form-actions floatRight">
							<div ng-if="!ctrl.role.id">
	                            <input type="submit"  value="Add" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
	                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset</button>
							</div>
							<div ng-if="ctrl.role.id">
	                            <input type="submit"  value="Update" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
	                            <button type="button" ng-click="ctrl.cancel()" class="btn btn-warning btn-sm" >Cancel</button>
							</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
        <div class="panel panel-default">
              <!-- Default panel contents -->
            <div class="panel-heading"><span class="lead">List of Roles </span></div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID.</th>
                            <th>Role Name</th>
                            <th>Role Description</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in ctrl.roles">
                            <td><span ng-bind="u.id"></span></td>
                            <td><span ng-bind="u.rolename"></span></td>
                            <td><span ng-bind="u.roledesc"></span></td>
                            <td>
                            <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>  
                            <button type="button" ng-click="ctrl.remove(u)" class="btn btn-danger custom-width">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>		
    <div ng-include="'webui/views/common/footer.html'"></div>
</div>
